<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>One quote has been successfully added to the database.</h2>

<p><b>[Field must be between 3 and 100 characters long.]</p></b>
<p><b>[Field must be between 3 and 200 characters long.]</p></b>
<p><b>[This field is required.]></p></b>
<p><b>[This field is required.]></p></b>

To view all quotes click <a href="{{ url_for('display_quotes') }}">here</a>

To go to home page click on <a href="{{ url_for('hello') }}"> Home </a>

</body>
</html> 